
.app{
  display:  flex;
  margin: 20px auto;
  text-align: center;

 
}


.xnara__container{
  position: absolute !important;
  top:50% !important;
  left: 50% !important;
  max-width: 50vw;
  transform: translate(-50%,-50%);
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);


}

@media screen and (max-width:425px){

.xnara__container{
  margin-top:100px;
  max-width:90vw;
}

}